<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban Panel</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns">
                    <div class="column-tittle">
                        {{column.name}}
                    </div>
                    <div
                        cdkDropList
                        [cdkDropListData]="column.tasks"
                        class="task-container"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of column.tasks" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>